*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 900px;
    margin: 0 auto;
}
.container-fluid{
    width: 1300px;
    margin: 0 auto;
}
body{
    font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';

}
a{
    text-decoration: none;
    color: black;
}
ul, ol{
    list-style-type: none;
}
.header{
    background-color: #EEF2FF;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin-right: 15px;
}
.night-mode{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
}
.day-mode{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
    display: none;
}
.downArrow{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 15px;
}
.follow-btn{
    width: 90px;
    margin-right: 15px;
    font-size: 20px;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
.follow-btn:hover{
    box-shadow: 2px 2px 5px grey;
    transform: scale(0.9);
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    padding-bottom: 10px;
}
.navigation-list{
    display: flex;
    justify-content: center;
}
.navigation-items{
    font-size: 20px;
    padding: 10px;
    transition: 0.3s;
}
.navigation-items:hover{
    background-color: rgb(202, 202, 203);
}
.navigation-icon{
    width: 22px;
    height: 22px;
    margin-right: 12px;
}
.navigation-icon:hover{
    transform: scale(0.9);
}
  /* modal */
  .modal{
    display: none; 
    z-index: 123; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  .modal .container{
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 70%;
  }
  .modal-input{
      width: 100%;
      height: 60px;
      outline: none;
      border-radius: 10px;
      padding: 5px 15px;
  }
  .modal-span{
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }
  .modal-text{
      font-size: 20px;
  }
  /* follow-modal */
  .follow-modal{
    display: none; 
    z-index: 123; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  .follow-modal .container{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 3px 3px 5px rgb(178, 175, 175);
    border-radius: 10px;
      position: absolute;
      top: -80px;
      left: 400px;
  }
  .follow-modal-img{
      width: 140px;
      height: 140px;
      border-radius: 50%;
      margin: 10px;
  }
  .follow-close{
      position: absolute;
      top: 11px;
      left: 720px;
      padding: 5px 8px;
      border-radius: 50%;
      transition: 0.3s;
  }
  .follow-close:hover{
      background-color: rgb(226, 226, 226);
  }
  .follow-close-btn{
      width: 20px;
      height: 20px;
      border-radius: 50%;
  }
  .follow-modal-heading{
      margin: 15px 10px;
  }
  .follow-modal-btn{
      padding: 10px 20px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: rgb(11, 105, 163);
      color: white;
      border: inherit;
      box-shadow: 3px 3px 5px rgb(178, 175, 175);
      transition: 0.3s;
  }
  .follow-modal-btn:hover{
      transform: scale(0.9);
      
  }
.follow-hashnode{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.follow-sign{
    font-size: 16px;
}
.follow-modal-text{
    font-size: 18px;
    line-height: 30px;
}
.Hashnode{
    color: rgba(0, 102, 255, 0.936);
}

    /* downArrow-modal */
.downArrow-modal .container{
    background-color: #fefefe;
    margin: 15% auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 3px 3px 5px rgb(178, 175, 175);
    border-radius: 10px;
  }
  .modal-head{
    width: 100%;
    background-color: rgba(243, 244, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
  }
  .modal-head-img{
      width: 20px;
      height: 20px;
      border-radius: 50%;
  }
  .downArrow-span{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .publish-btn{
      padding: 10px 20px;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      border: inherit;
      box-shadow: 3px 3px 5px rgb(178, 175, 175);
      transition: 0.3s;

  }
  .publish-btn:hover{
      transform: scale(0.9);
  }
  .modal-box{
      padding: 20px 10px;
  }
  .downArrow-modal{
    display: none;
  }
  .downArrow-modal .container{
      position: absolute;
      top: -160px;
      left: 1010px;
      z-index: 123;
  }
  .downArrow-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 10px;
}
.downArrow-heading{
    line-height: 50px;
}
.downArrow-text{
    line-height: 20px;
    margin-bottom: 10px;
}
.downArrow-box{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
}
.downArrow-box:hover{
    background-color: rgba(243, 244, 246);
}
.downArrow-sign-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.downArrow-sign{
    font-size: 16px;
}
/* subscribe */
.subscribe-span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: relative;
}
.subscribe-left{
    width: 300px;
    /* padding-right: 40px; */
}
.subscribe-parag{
    font-size: 18px;
    margin-right: 20px;
}
.subscribe-input{
    width: 600px;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 0px;
    font-size: 16px;
    outline: none;
    border: 1px solid rgb(52, 52, 221);
}
/* .subscribe-input:active{
    border: 1px solid rgb(52, 52, 221);
} */
.subscribe-link{
    position: absolute;
    top: 45px;
    right: 10px;
    font-size: 16px;
    color: rgb(52, 52, 221);
    padding-bottom: 10px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: 0.3s;
}
.subscribe-link:hover{
    background-color: #EEF2FF;
}
.subscribe-tg{
    width: 19px;
    height: 19px;
    position: absolute;
    left: 312px;
}

.text{
  padding: 10px;
  border-radius: 5px;
}

.text {
  width: 600px;
  color: black;
  border: 1px solid rgb(52, 52, 221);

}
.subscribe-add{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 300px;

    
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black;
}

.edit {
  cursor: pointer;
  text-align: center;
  width: 50px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid rgb(29, 142, 29);
  border-radius: 5px;
  color: white;
  background-color: rgb(29, 142, 29);
  margin-right: 10px;
}
.edit:hover{
    background-color: white;
    color: rgb(29, 142, 29);
    border: 1px solid rgb(29, 142, 29);
}

.delete {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  width: 60px;
  font-size: 15px;
  border: 1px solid rgb(238, 33, 33);
  border-radius: 5px;
  color: white;
  background-color: rgb(238, 33, 33);
}
.delete:hover{
    background-color: white;
    color: rgb(238, 33, 33);
    border: 1px solid rgb(238, 33, 33);
}

.parag {
  font-size: 15px;
  width: 300px;
  color: black;
  background-color: inherit;
  padding: 5px;
  border: none;
  outline: none;
  transition: 0.5s;
}
.paragPress {
    color: black;
  }
  
  .boxList {
    display: flex;
    
  }

 /* subscribe close */

/* news */
.news-box{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.news-left{
    width: 55%;
}
.news-heading{
    font-size: 30px;
}
.news-img{
    width: 330px;
    height: 180px;
    border-radius: 20px;
}
.news-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding-right: 80px;
}
.news-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.news-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-parag{
    margin-top: 20px;
    font-size: 20px;
}
 /* footer */
 .footer{
     background-color: rgba(243, 244, 246);
 }
 .footer-box{
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }
 .footer-span{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 50px;
     padding-bottom: 10px;
 }
 .footer-copyright{
     width: 15px;
     height: 15px;
     margin-right: 5px;
 }
 .footer-links{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;
 }
 .footer-link{
    color: grey;
    text-decoration: underline;
    margin-right: 15px;
 }
 .footer-btn{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 13px 25px;
     border-radius: 8px;
     background-color: white;
     margin-top: 30px;
     margin-bottom: 20px;
     transition: 0.3s;
     border: 1px solid white;
 }
 .footer-btn:hover{
     border: 1px solid rgb(178, 175, 175);
 }
 .footer-hashnode{
     text-decoration: underline;
     color: grey;
 }
 .footer-text{
     margin-bottom: 30px;
     color: grey;
 }